@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #070F18;
  --whiteGray: #F5F6FB;
  --gray: #575455;
  --blue: #1f7cff;
  --redOrange: #f75c4e;
}
